<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Chi Tiet Sinh Vien</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5">

      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">Chi Tiết Sinh Viên</h4>
        </div>

        <div class="card-body">

          <div class="row mb-3">
            <div class="col-md-3 fw-bold">ID:</div>
            <div class="col-md-9" th:text="${student.id}"></div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3 fw-bold">Họ và Tên:</div>
            <div class="col-md-9" th:text="${student.name}"></div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3 fw-bold">Email:</div>
            <div class="col-md-9" th:text="${student.email}"></div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3 fw-bold">Tuổi:</div>
            <div class="col-md-9" 
                th:text="${student.age}"
                th:classappend="${student.age < 18} ? 'text-danger fw-bold' : ''">
            </div>
          </div>

        </div>

        <div class="card-footer d-flex justify-content-between">

          <div>
            <a th:href="@{'/students/edit/' + ${student.id}}"
              class="btn btn-warning">
              Chỉnh sửa
            </a>

            <form
              th:action="@{'/students/delete/' + ${student.id}}"
              method="post"
              class="d-inline"
              onsubmit="return confirm('Bạn có chắc chắn muốn xóa?');"
            >
              <button type="submit" class="btn btn-danger">
                Xóa
              </button>
            </form>
          </div>

          <a href="/students" class="btn btn-secondary">
            ← Quay lại danh sách
          </a>

        </div>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
